@media (max-width: 700px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container {
        max-width: 45%;

    }
   

    
}

@media (max-width: 500px) {
    .blogs-posts-container .post-container {
        max-width: 95%;

    }
    

}

@media (max-width: 1000px) {

    .profile-container {
        grid-template-columns: 1fr;
    }
    .profile-info-container {
        grid-column: 1;
    }
    
    .projects-articles-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .projects-articles-container .article3 {
        grid-column: 1;
        grid-row: 2;
    }
    /*
    .profile-main-container .profile-container {
        display: block;
    }*/
}

@media (max-width: 600px) {
    .projects-articles-container {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .projects-articles-container .article2 {
        grid-column: 1;
        grid-row: 2;
    }
    .projects-articles-container .article3 {
        grid-column: 1;
        grid-row: 3;
    }

    
}